<div class="wrapper" [class.is-mobile]="mobileQuery.matches">
	<mat-toolbar class="toolbar mat-elevation-z4">
		<div *ngIf="mobileQuery.matches" (click)="snav.toggle()"><i class="fa fa-bars" aria-hidden="true"></i></div>
		<div>
			<h1 class="header" style="margin-left: 10px">Admin Panel</h1>
		</div>
		<div class="text-right" style="width: 100%;">
			<h1 class="greeting">{{ username }}&nbsp;&nbsp;<span style="cursor: pointer;" (click)="logout()" container="body" placement="bottom" ngbTooltip="Logout"><i class="fas fa-sign-out-alt fa-sm" aria-hidden="true"></i></span></h1>
		</div>
	</mat-toolbar>

	<mat-sidenav-container class="sidenav-container mat-elevation-z2" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
	    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
	    	<mat-nav-list>
		        <div [class.active-nav]="activeTab == 1" (click)="activeTab=1"><a mat-list-item><i class="fa fa-tachometer-alt fa-fw" aria-hidden="true"></i><span class="list-label">Dashboard</span></a></div>
		        <div [class.active-nav]="activeTab == 2" (click)="activeTab=2"><a mat-list-item><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i><span class="list-label">Orders</span></a></div>
		        <div [class.active-nav]="activeTab == 3" (click)="activeTab=3"><a mat-list-item><i class="fa fa-utensils fa-fw" aria-hidden="true"></i><span class="list-label">Menu</span></a></div>
		        <div [class.active-nav]="activeTab == 4" (click)="activeTab=4"><a mat-list-item><i class="fa fa-users fa-fw" aria-hidden="true"></i><span class="list-label">Users</span></a></div>
		    </mat-nav-list>
	    </mat-sidenav>

	    <mat-sidenav-content>
	    	<ng-container *ngIf="activeTab == 1">
	    		<p>Dashboard...</p>
	    	</ng-container>

	    	<!-- Orders -->
	    	<ng-container *ngIf="activeTab == 2">
	    		<mat-tab-group (selectedTabChange)="onTabChange($event)" #tabGroup>
					<mat-tab>
						<ng-template mat-tab-label>
					    	<!-- <i class="far fa-copy fa-fw" aria-hidden="true"></i><span class="tab-list-label">Orders</span><span class="p-badge">2</span> -->
					    	<span class="p-overlay-badge">
					    		<div style="padding: 0 12px;">
							    	<i class="far fa-copy fa-fw" aria-hidden="true"></i><span class="tab-list-label">Orders</span>
					    		</div>
							    <span *ngIf="badgeCtr > 0" class="p-badge">{{ badgeCtr }}</span>
							</span>
					    </ng-template>
					    <!-- tab content -->
					    <div class="container-fluid">
			    			<div class="row">
			    				<div *ngFor="let order of orders" class="col-sm-3" style="padding-top: 15px; padding-bottom: 15px;">
		    					    <p-card header="Order" subheader="Card Subheader" styleClass="p-card-shadow">
		    						    <!-- <p-header>
		    						        <img alt="Card" src="assets/showcase/images/usercard.png">
		    						    </p-header> -->
		    						    <p>Remarks: {{ order.remarks }}</p>
		    						    <ng-template pTemplate="footer">
		    						    	<p>test footer</p>
		    						        <!-- <p-button label="Save" icon="pi pi-check"></p-button>
		    						        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
		    						    </ng-template>
		    						</p-card>
		    					</div>
		    					<textarea [(ngModel)]="txtAreaMsg" rows="4" cols="50"></textarea>

		    					<!-- <div class="col-sm-3" style="padding-top: 15px; padding-bottom: 15px;">
		    					    <p-card header="Order" subheader="Card Subheader" styleClass="p-card-shadow">
		    						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
		    						        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
		    						    <ng-template pTemplate="footer">
		    						    	<p>test footer</p>
		    						    </ng-template>
		    						</p-card>
			    				</div>
			    				<div class="col-sm-3" style="padding-top: 15px; padding-bottom: 15px;">
		    					    <p-card header="Order" subheader="Card Subheader" styleClass="p-card-shadow">
		    						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
		    						        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
		    						    <ng-template pTemplate="footer">
		    						    	<p>test footer</p>
		    						    </ng-template>
		    						</p-card>
			    				</div>
			    				<div class="col-sm-3" style="padding-top: 15px; padding-bottom: 15px;">
		    					    <p-card header="Order" subheader="Card Subheader" styleClass="p-card-shadow">
		    						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
		    						        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
		    						    <ng-template pTemplate="footer">
		    						    	<p>test footer</p>
		    						    </ng-template>
		    						</p-card>
			    				</div> -->
			    			</div>
			    		</div>
					    <input type="button" (click)="onClickTest()" value="Test" />
					</mat-tab>

					<mat-tab>
					    <ng-template mat-tab-label>
				  		    <i class="fa fa-history fa-fw" aria-hidden="true"></i><span class="tab-list-label">History</span>
					    </ng-template>
					    <!-- tab content -->
					    <div class="container-fluid">
			    			<div class="row">
			    				<div class="col-md-1"></div>
			    				<div class="col-md-10">
			    					<!-- <span *ngIf="mobileQuery.matches">Orders</span> -->
						    		<p-table #ordersTbl [value]="orderHist" [paginator]="true" [rows]="5" [globalFilterFields]="filterFields" [loading]="tblLoader" [responsive]="true" styleClass="p-datatable-striped">
						    			<ng-template pTemplate="caption">
						    				<div class="flex">
						    					<input type="text" pInputText size="40" placeholder="Search" (input)="ordersTbl.filterGlobal($event.target.value, 'contains')" class="col-sm-2">
					    						<i class="pi pi-search" style="margin: 15px 0 0 -25px; position: absolute;"></i>
						    				</div>
									    </ng-template>
									    <ng-template pTemplate="header">
									        <tr>
									            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
									                {{ col.header }}
									                <p-sortIcon [field]="col.field"></p-sortIcon>
									            </th>
									        </tr>
									    </ng-template>
									    <ng-template pTemplate="body" let-order>
									        <tr>
									            <td *ngFor="let col of cols">
									            	<span class="p-column-title">{{col.header}}</span>
									                {{ order[col.field] }}
									            </td>
									        </tr>
									    </ng-template>
									    <ng-template pTemplate="emptymessage">
									        <tr>
									            <td [attr.colspan]="cols.length">
									                No records found
									            </td>
									        </tr>
									    </ng-template>
									</p-table>
			    				</div>
			    				<div class="col-md-1"></div>
			    			</div>
			    		</div>
					</mat-tab>
				</mat-tab-group>
	    		
	    	</ng-container>

	    	<ng-container *ngIf="activeTab == 3">
	    		<p>Menu...</p>
	    	</ng-container>

	    	<ng-container *ngIf="activeTab == 4">
	    		<p>Users...</p>
	    	</ng-container>
	    </mat-sidenav-content>
	</mat-sidenav-container>
</div>