<p>Ito yung parent component tapos tatawagin ko dito yung child component</p>
<p>tapos tinawag ko lang din sa home para mabilis makita</p>
<p>pero walang kinalaman yung home component dito, yung pasahan mangyayari lang sa parent comp at child comp</p>
<p>yung nasa loob ng <b>[ ]</b> yung pinaka input, tapos yung name nyan nakadeclare dun sa loob ng child comp</p>
<p><b>toChild</b> naman yung pangalan dito sa parent comp</p>
<div style="border: 1px solid red;">
	<app-sample-child [sampleInput]="toChild" (sampleOutput)="myFunction($event)"></app-sample-child>
</div>

<p>dito naman dinisplay ko yung galing sa child component</p>
<p>yung <b>sampleOutput</b>, declared yan sa loob ng child component tapos yan yung magbabato ng kung ano man, dito string lang binato ko, pero madalas object ibabato natin dyan, ganun din sa papasok sa child, madalas object</p>
<p>then nung nagbato, nilagay ko lang kung ano mang binato dun sa <b>fromChild</b> na variable na dito naman declared sa parent comp</p>
<p>then pag dinisplay ko dito ngayon yung <b>fromChild</b></p>
<p><u>{{ fromChild }}</u></p>

<input [name]="" onchange="$event" (click)="onClick()" (change)="myFunction()" (focus)="onFocus()" (blur)="onBlur()">