
.aboutHeader{
	background-image: url('/app/resources/img/Header2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center 35%;
	height: 400px;
	
	/* filter: blur(10px);*/


}
.noPadding{
	 padding: 0px !important;
	 margin: 0px !important;
}

.mgLogo{
	text-align: center;

}
.mgLogoImg{
	height: 500px !important;
	background-color: rgba(255,255,255,0.3);
	border-radius: 50%;


}
.imgText{
	color:black;
	 


}

.storeHours{
	text-align: center;
	 background-image: url('/app/resources/img/BG3.jpg');

	margin: 0px !important;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;

	  padding: 50px;
	}
	.location{
	
	 background-image: url('/app/resources/img/BG1.jpg');

	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;

	}
.storeHoursText{
	color: white;

}

.storeHoursBorder{
  border-radius: 15px;
	  border: 5px solid white;
	 	

}
#followTab{
 text-align: center;
}

@media only screen and (max-width: 600px) {
		.mvmgLogoImg{
			height: 200px !important;
		/*	background-color: rgba(255,255,255,0.3);*/
			border-radius: 50%;
	
				}

}