
<div class="container-fluid aboutHeader">
	<div class="row">

			<div class="col-xl-12 " ></div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">

		
			<div class="mgLogo">
				<h1 class="imgText">MyGirl Milktea - Online Delivery</h1>
				<img src="/app/resources/img/LOGO.png " class="mgLogoImg mvmgLogoImg">
				

				<h3 class="imgText">Drink Best Rich Your Taster! </h3>
				<h5 class="imgText">Highblend teas, real fruit purees, honey for sweetener. No artificial powdered flavoring!</h5>
			 </div>
			 <div>
			 <div class="storeHours">
			 	<div class="container storeHoursBorder p-shadow-1">
			 		<div class="row">
					 	<div class="col-xl-12  ">
					 		
					     <h1 class="storeHoursText">Opening Hours</h1>
					 	<h4 class="storeHoursText">Store Hours</h4>
					 	</div>
					 	<div class="col-xl-6">
					 			<h3 class="storeHoursText" >Monday to Sunday</h3>
					 	</div>
					 	<div class="col-xl-6">
					 			<h3 class="storeHoursText">9:00 AM to 9:00PM</h3>
					 	</div>
					   <div class="col-xl-12 ">
					   		<h4 class="storeHoursText">Delivery Hours</h4>

					   </div>
					   <div class="col-xl-6"><h3 class="storeHoursText">Monday to Sunday</h3></div>
					   <div class="col-xl-6"> <h3 class="storeHoursText">10AM to 8PM</h3> </div> 


				 	</div>
			   </div>

			 </div>
			<!--  <div >
				 <div class="container" >
				 	<div class="row" >
				 		<div class="col-12" id="followTab">
				 				<h1>Follow us!</h1>
				 			<div class="row">
				 		
				 			<div class="col-xl-3" style="text-align: center;">
				 				<a href=""><img src="/app/resources/img/fbIcon.png" style="height: 50px;"></a>
				 			</div>
				 			<div class="col-xl-3" style="text-align: center;">
				 				<a href=""><img src="/app/resources/img/intagramIcon.png" style="height: 50px;"></a>
				 			</div>
				 			<div class="col-xl-3" style="text-align: center;">
				 				<a href=""><img src="/app/resources/img/TwitterIcon.png" style="height: 50px;"></a>
				 			</div>
				 			</div>
				 		</div>
				 	</div>
				 </div>
			</div> -->

			 
		</div>
	</div>
</div>
</div>