
<div class="container-fluid aboutHeader">
	</div>
	<div class="row" style="padding: 0px; margin: 0px !important;">

			<div class="col-xl-12 " ></div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">

		
			<div class="mgLogo">
				<h1 class="imgText">MyGirl Milktea - Online Delivery</h1>
				
				

				<h3 class="imgText">Drink Best Rich Your Taster! </h3>
				<h5 class="imgText">Highblend teas, real fruit purees, honey for sweetener. No artificial powdered flavoring!</h5>
			 </div>
			 <div>
			 <div class="storeHours">
			 	<div class="container storeHoursBorder p-shadow-1">
			 		<div class="row">
					 	<div class="col-xl-12  ">
					 		
					     <h1 class="storeHoursText">Opening Hours</h1>
					 	<h4 class="storeHoursText">Store Hours</h4>
					 	</div>
					 	<div class="container">
					 	  <div class="row " *ngFor="let dhrs of event.storeHours">
					   		<div class="col-xl-6"><h3 class="storeHoursText">{{dhrs.store.day}}</h3></div>
					   		<div class="col-xl-6"> <h3 class="storeHoursText">{{dhrs.store.time}}</h3> </div> 
					   	  </div>
					   </div>
					   <div class="col-xl-12 ">
					   		<h4 class="storeHoursText">Delivery Hours</h4>
					   </div>
					   <div class="container">
					 	  <div class="row" *ngFor="let dhrs of event.storeHours">
					   		<div class="col-xl-6"><h3 class="storeHoursText">{{dhrs.delivery.day}}</h3></div>
					   		<div class="col-xl-6"> <h3 class="storeHoursText">{{dhrs.delivery.time}}</h3> </div> 
					   	  </div>
					   </div>
				 	</div>
			   </div>

			 </div>
			 <div class="location container-fluid text-center">
			 	<h4 >Store Location</h4>
			 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6498.585814622832!2d121.02384001392946!3d14.42242228838362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d1ec6863f4bd%3A0xecc9c740cde570cc!2sMy%20Girl%20Milk%20Tea%20and%20Coffee%20-%20Molito%20Branch!5e0!3m2!1sen!2sph!4v1598818436125!5m2!1sen!2sph" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


			 </div>
			 <div class="col-12 storeHoursText text-center">
			 	<p>Developed by:  </p>
			 </div>
		

			 
		</div>
	</div>
</div>
