
<header class="header">

    <div class="container" style="max-width: 1400px !important;">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a [routerLink]="['/home']"><img (click)="selectedTab = 1" src="app/resources/img/header-logo-temp.png" alt="header-logo-temp.png" style="max-width: 75%;"></a>
                </div>
            </div>
            <div class="col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/shop']">Shop</a></li>
                        <li><a>Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a>Shop Details</a></li>
                                <li><a>Shopping Cart</a></li>
                                <li><a>Check Out</a></li>
                                <li><a>Blog Details</a></li>
                            </ul>
                        </li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/about']">About Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a><i class="fas fa-heart"></i> <span>1</span></a></li>
                        <li><a (click)="cartMdl.openMdl()"><i class="fas fa-shopping-cart"></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<app-modal #cartMdl class="d-none">
  <div header>Cart</div>
    <div body style="min-width: 300px !important;">             
      <p>Ito yung fucking cart mo motherfucker.</p>
    </div>
    <div footer class="w-100 text-center">
      <button type="button" (click)="sampleFunction()"><a>Check out</a></button>
      <button type="button" (click)="cartMdl.closeMdl()"><a>Close</a></button>
    </div>
</app-modal>