.headerDefault{
		background-color: black;
}
.MyGirl_Logo{
	
		font-family: hero new;
		text-align: left;
		padding: 0px !important;
		margin: 0px !important;
}

.mobileMenuBox {
		display: block;
		
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		cursor: pointer;
		
		right: 15px;
		top: 5px;
	}
.defaultMenu{
		color:white;
	}

.BestSellerNav {

  position: relative;
  overflow: hidden;
  background-position: center center;

  border-top-right-radius:  5px;
  border-top-left-radius: 5px;
}

.BestSellerNavWrapper {
  height: 255px;
  position: relative;
  overflow: hidden;
}

.BestSellerNavDesc {
  text-align: center;
  padding-top: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;


}

/*@media only screen and (min-width: 992px) {
	.bestSellerDialog{
				width: 15vw;

		}
}
@media only screen and (min-width: 1200px) {
		.bestSellerDialog{
				width: 15vw;

		}

}
@media only screen and (min-width: 600px) {
		.bestSellerDialog{
				width: 100%;

		}

}
@media only screen and (min-width: 486px) {
		.bestSellerDialog{
				width: 100%;

		}

}*/

