<ng-template #content>
    <div class="modal-header">
        <ng-container [ngSwitch]="mdlConfig.mdlType">
                <span *ngSwitchCase="'confirmation'" class="modal-title" id="modal-basic-title">Confirmation</span>   
                <span *ngSwitchCase="'success'" class="modal-title" id="modal-basic-title">Success</span>         
                <span *ngSwitchCase="'error'" class="modal-title" id="modal-basic-title">Error</span>         
                <span *ngSwitchDefault class="modal-title" id="modal-basic-title"><ng-content select="[header]"></ng-content></span>
        </ng-container>
    </div>
    <div class="modal-body">
            <div class="row" [ngSwitch]="mdlConfig.mdlType">
                <ng-container *ngSwitchCase="'confirmation'">
                    <div class="col-sm-2 align-items-center" style="border-style: solid; max-width: 25%;">
                        <i class="fa fa-question-circle fa-4x mdl-icon" aria-hidden="true"></i>    
                    </div>
                    <div class="col-sm-10" style="border-style: solid; max-width: 75%;">
                        <span class="message">{{ mdlConfig.confirmationMsg }}</span>
                    </div>
                </ng-container>    
                <ng-container *ngSwitchCase="'success'">
                    <div class="col-sm-2 d-flex align-items-center">
                        <i class="fa fa-check-circle fa-4x mdl-icon" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-10 d-flex align-items-center" style="min-width: 50%;">
                        <span class="message">{{ mdlConfig.successMsg }}</span>
                    </div>
                </ng-container>
            <div *ngSwitchDefault class="col">
                <ng-content select="[body]"></ng-content>
        </div>
    </div>
        
    </div>
    <div class="modal-footer">
        <ng-content select="[footer]"></ng-content>
    </div>
</ng-template>

<!-- <button id="modalBtn" class="cust-btn" (click)="open(content)" [disabled]="disabled"><a>{{ btnTitle }}</a></button> -->
<button id="modalBtn2" class="d-none" (click)="openMdl(content)"><a>{{ btnTitle }}</a></button>

