<div class="container-fluid">
  
<div class="row">
  <div class="col-md-2"></div>
        <div class="col-md-8">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>

                    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let milktea of obj.productSample" [ngClass]="'col-lg-3 col-md-4 col-sm-6 mix '+milktea.category_code">
                                            <div class="featured__item">
                                              <div class="product__discount__item">
                                                  <div class="product__discount__item__pic set-bg">
                                                      <div class="featured__item__pic set-bg"   [ngStyle]="{'background-image': 'url('+ milktea.imgpath +')'}">
                                                        <div class="product__discount__percent">Best Seller</div>
                                                        
                                                     </div>
                                            </div>
                                         </div>
                                     </div>

                            </div>
                        </ngx-slick-carousel>
                   
   
      </div>
      </div>           
</div>
