<p>home works!</p>
<p>home pati about us pa lang gumagana</p>
<p>yung shop pati pages sa menu, kulay black kasi wala pa yang laman, wala pa tinatawag</p>
<p>pag may tinatawag na yang component matic na din mag green basta malagay mo na dun sa html</p>
<p>yung sample ng modal nandun sa cart na icon, tapos makikita mo implem sa app.component.html</p>

<div style="border: 2px solid green">
	<app-sample-parent></app-sample-parent>
</div>

<p> {{ us.myVal }} </p>

<input type="text" [(ngModel)]="us.myVal" />