<!-- <div class="container">
	<div class="row"> -->
		
			<app-announcement></app-announcement>
			<app-shoplist></app-shoplist>
		
<!-- <div  class="col-sm-5 col-md-5"> -->
	<!-- <div class="fb-post" 
      data-href="https://www.facebook.com/mygirlmilkteamolitoalabang/photos/a.325912167938878/604695600060532/?type=3"
      data-width="500"></div> -->
<!-- </div> -->
			
      			
			<!-- <iframe width="560" height="200" src="https://www.youtube.com/embed/2eq7q5Jyp2E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
		

	<!-- </div>
</div> -->

