<div class="container-fluid" [ngClass]="mobileQuery.matches ? 'bg2' : 'bg'">


</div>

<!-- <div class="navigationWrapper" [style.display]="mobileQuery.matches ? '' : 'none'">

  <button   mat-icon-button class="navigationIcon btn btn-link"  (click) = toggleDisplay()>
    <img style="height: 50px; width: 50px; border-radius: 50%;" src="/app/resources/img/Navigate.png">
     <span class="p-badge p-badge-warning">5</span>
     <i class="fa fa-cogs" aria-hidden="true" style="font-size: 50px;"></i>
  </button>

  <div [hidden] = "isShow" (click) = "toggleDisplay()">

    <button type="button" style=" border-bottom: 1px; padding: 0px !important;" class=" searchIcon btn btn-link " (click)="toggleSearch()" >
      <img src="/app/resources/img/search.png" style="border-radius: 50%; height: 35px;">
         <i class="fa fa-search " style="font-size: 30px; color: black; background-color: rgba(255,255,255,0.5); border-bottom: 2px solid black; padding-bottom: 5px;"  aria-hidden="true"></i>
    </button> <span class="searchText">Search</span>

    <button type="button" style="border-radius: 50%; padding: 0px !important;" class="categoryIcon btn btn-link " (click)="snav.toggle()">
      <img src="/app/resources/img/Category.png"  style="border-radius: 50%; height: 40px;">
    </button> <span class="categoryIconText " (click)="snav.toggle()" >Categories</span>

    <button type="button" style="border-radius: 50%; padding: 0px !important;" class="cartNavIcon btn btn-link " (click)="myCart.toggle()" >
      <img src="/app/resources/img/cartIcon.png"  style="border-radius: 50%; height: 35px;">
    </button> <span class="cartNavIconText " (click)="myCart.toggle()" >Cart</span>

    <button type="button" style="border-radius: 50%; padding: 0px !important;" class="wishList btn-link ">
      <i class="fa fa-heart" aria-hidden="true"></i>
    </button> <span class="wishListIconText ">Wish List</span>
  </div>
  <button  [hidden] = "searchShow"  class=" btn btn-link searchClose" (click)="toggleSearch()" ><i class="searchCloseIcon fa fa-times"></i></button>


  <form class="example-form">
    <input type="text"
    placeholder="Find your Favorites!"
    [formControl]="event.control"
    [matAutocomplete]="auto"
    class="searchInput"
    [hidden] = "searchShow">
    <mat-autocomplete #auto="matAutocomplete">

      <mat-option style="clear:both;" *ngFor="let milktea of event.filteredProduct | async" [value]="milktea.title">
        {{milktea.title}}
      </mat-option>


    </mat-autocomplete>
  </form>

</div>
 -->

<!-- end -->
<mat-sidenav-container  class="container-fluid" style="background-color:#f3f3f3" class="">
<!-- <mat-sidenav-container  class="container-fluid" style="background-color:#f3f3f3" autosize class="example-sidenav-container"
 [style.marginTop.px]="mobileQuery.matches ? 56 : 0">  WIDTH MOBILE MARGIN-->
<!--  -->
 <mat-sidenav [disableClose]="true" [style.height]="mobileQuery.matches? '':'409px'" #snav [opened]="mobileQuery.matches ? 'false' : 'true'"  mode="side" class="example-sidenav col-xl-2 col-lg-2 col-md-12 col-xs-12 matnav" mode="side"
 [fixedBottomGap]="0"
 [fixedInViewport]="mobileQuery.matches"
 [autoFocus]="true">
 <div class="col-12  matnav">
  <div class="hero__categories">
    <div class="categoryBorder">

      <span class="categoryText">Categories

        <button  type="button" [style.display]="mobileQuery.matches ? '' : 'none'" class="btn btn-link float-right" style="outline: 0px;"  (click)="snav.toggle()" >
          <i class="fas fa-times" [style.display]="mobileQuery.matches ? '' : 'none'" style="color:white;"></i>
        </button>

      </span>

    </div >

    <ul class="matnav" style="clear: both;">
   
      
      <li [ngClass]="{'active': category==='All Category'}" class="categoryTabs" (click)="category='All Category'" (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()" data-filter="*">All</li>
   

      <li [ngClass]="{'active': category==='Milktea'}"  class="categoryTabs"(click)="category='Milktea'" (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()"  data-filter=".FT">Milktea</li>
      <li [ngClass]="{'active': category==='Yogurt'}" class="categoryTabs" (click)="category='Yogurt'" (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()" data-filter=".BS">Yogurt</li>
      <li [ngClass]="{'active': category==='Cheese Cream'}"  class="categoryTabs" (click)="category='Cheese Cream'" (click)="mobileQuery.matches ? snav.toggle() : false"  (click)="FilterData()" data-filter=".MY">Cheese Cream</li>
      <li [ngClass]="{'active': category==='Milk Online'}" class="categoryTabs" (click)="category='Milk Online'"  (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()"   data-filter=".MG">Milk Online</li>
      <li [ngClass]="{'active': category==='Smoothies & Cream'}"  class="categoryTabs" (click)="category='Smoothies & Cream'"  (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()" data-filter=".MY">Smoothies & Cream</li>
      <li [ngClass]="{'active': category==='Juice'}" class="categoryTabs" (click)="category='Juice'"  (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()"   data-filter=".MG">Juice</li>

      <li [ngClass]="{'active': category==='Sand Ice'}" class="categoryTabs" (click)="category='Sand Ice'" (click)="mobileQuery.matches ? snav.toggle() : false"  (click)="FilterData()"   data-filter=".MG">Sand Ice</li>
    </ul>
  </div>


</div>
</mat-sidenav>
<mat-sidenav-content style="min-height: 500px;" >
<!--   <app-announcement [mobileView]="mobileQuery.matches" ></app-announcement>  -->
  <section class="featured spad">
 <div class="scroller" [style.display]="mobileQuery.matches ? '' : 'none'">
  <div class="hero__categoriesmv hero__categoriesmvs">
  <ul id="inner" class="matnav" style="clear: both;" style="overflow:scroll">
   
      
      <li [ngClass]="{'active2': category==='All Category'}" class="categoryTabs2" (click)="category='All Category'"  (click)="FilterData()" data-filter="*">All</li>
   

      <li [ngClass]="{'active2': category==='Milktea'}"  class="categoryTabs2"(click)="category='Milktea'"   data-filter=".FT">Milktea</li>
      <li [ngClass]="{'active2': category==='Yogurt'}" class="categoryTabs2" (click)="category='Yogurt'"  (click)="FilterData()" data-filter=".BS">Yogurt</li>
      <li [ngClass]="{'active2': category==='Cheese Cream'}"  class="categoryTabs2" (click)="category='Cheese Cream'"   (click)="FilterData()" data-filter=".MY">Cheese Cream</li>
      <li [ngClass]="{'active2': category==='Milk Online'}" class="categoryTabs2" (click)="category='Milk Online'" (click)="FilterData()"   data-filter=".MG">Milk Online</li>
      <li [ngClass]="{'active2': category==='Smoothies & Cream'}"  class="categoryTabs2" (click)="category='Smoothies & Cream'"  (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()" data-filter=".MY">Smoothies & Cream</li>
      <li [ngClass]="{'active2': category==='Juice'}" class="categoryTabs2" (click)="category='Juice'"    data-filter=".MG">Juice</li>

      <li [ngClass]="{'active2': category==='Sand Ice'}" class="categoryTabs2" (click)="category='Sand Ice'" (click)="FilterData()"   data-filter=".MG">Sand Ice</li>
    </ul>


  </div>
</div>

   <div class="section-title text-align center" [ngClass]="mobileQuery.matches ? 'search2' : 'search'" style="margin-bottom: 20px;">
          <input type="text"
                     placeholder="Find your Favorites!"
                     [formControl]="event.control"
                     [matAutocomplete]="auto"
                     class="searchbox searchTerm"
                     [hidden] = ""
                     > 
                       <mat-autocomplete #auto="matAutocomplete">

      <mat-option style="clear:both;" *ngFor="let milktea of event.filteredProduct | async" [value]="milktea.title">
        {{milktea.title}}
      </mat-option>


    </mat-autocomplete>
                      <button type="submit" class="searchButton">
                          <i class="fa fa-search"></i>
                       </button>

  </div>
 
  <div class="col-xl-12" >

            
                      <div class="row featured__filter">
                        <div *ngFor="let milktea of obj.productSample" [ngClass]="'col-xl-3 col-md-3 col-lg-3 col-sm-12 col-xs-12 mix '+milktea.category_code">
                          <div class="featured__item">
                            <div class="featured__item__pic set-bg "   [ngStyle]="{'background-image': 'url('+ milktea.imgpath +')'}">
                              <div class="product__discount__percent defaultFont">{{'₱ ' +milktea.price}}</div>
                              <ul class="featured__item__pic__hover">
                                <!--   <li><a href="#"><i class="fa fa-heart"></i></a></li> -->
                                <li><a (click)="LoginModal.openMdl()"><i class="fa fa-retweet"></i></a></li>
                                <li><a (click)="event.showBasicDialog()" (click)="event.selectItem(milktea.id)"  ><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                            </div>
                            <div class="featured__item__text">
                              <h6 class="listText defaultFont"><a href="#" class="defaultFont">{{milktea.title}}</a></h6>
                              <h5 class="defaultFont">{{milktea.description}}</h5>
                            </div>
                          </div>
                        </div>


                      </div>  

                    </div>



                  </section>


                </mat-sidenav-content> 


     <mat-sidenav #myCart [disableClose]="true" [opened]="!mobileQuery.matches || event.openedCart" mode="side"   class="example-sidenav col-xl-2 col-lg-2 col-md-12 col-xs-12" id="checkoutPreText" position="end" 
                [fixedInViewport]="true"
                [fixedTopGap]="50" >
                        <div class="col-12" > <span class="default" ><p *ngIf="event.customerOrder.length==0"  > No Items in your Cart Yet </p> </span> 

                         </div>

              <div class="row" *ngFor="let order of event.customerOrder" style="padding-left: 10px; font-family:kozuka gothic pro;">
                        <div class="col-5"> <h5> {{order.itemTitle}} </h5> 
                           <p style="font-size: 12px; line-height : 15px; padding: 0px; margin: 0px;" > {{order.itemSize}} </p>
                           </div>
                        <div class="col-4 " style="text-align:right;"> <p class=""> {{'PHP '+order.itemGrandTotal}} </p>  </div>
                          <div class="col-3" style="text-align:right;" (click)="event.showBasicDialog()" (click)="event.editOrder(order.itemOrderID)"  ><i class="pi pi-external-link"></i></div>

                        <div class="col-5"> 
                          <p style="font-size: 10px; line-height : 10px; padding: 0px; margin: 0px;" *ngFor="let extras of order.itemExtras" >  {{'+ '+extras.extrasTitle}}</p> 
                        </div>
                       
                        
                        <!-- sid nav equalizer -->
                        <div class="col-7" style="padding: 0px !important; text-align: center;"> 
                         <div class="input-group" style="padding: 0px !important; margin: 0px !important;" >
                                <button [style.display]="order.itemTotal == 1 ? 'none':'' " type="button"  value="-" class="button-minus btn btn-link" (click)="event.quantityControl('s-min',order.itemOrderID)" data-field="quantity">
                                    <i  class=" blackFont fa fa-minus"></i>
                               </button>
                              <button [style.display]="order.itemTotal == 1 ? '':'none' "  type="button"  value="-" class="button-minus btn btn-link"  (click)="confirmDelete(order.itemOrderID)"  data-field="quantity">
                                <i class=" blackFont fa fa-trash"></i>
                              </button>
                              <input type="number" style="border: 0;
                              outline: none; background-color: white;" disabled="true" step="1" max="" [(ngModel)]="order.itemTotal" name="quantity" class="quantity-field"> 
                              <button type="button" value="+" class="button-plus btn btn-link" data-field="quantity" (click)="event.quantityControl('s-add',order.itemOrderID)" ><i class=" blackFont fa fa-plus"></i></button>
                        </div>
                      </div>
               </div>
               <div class="row" style="padding: 0px !important; margin: 0px !important;">
                   <div class="col-5"><p>Total Price</p></div>
                   <div class="col-7"><p *ngIf="event.totalPrice!=0"> {{'PHP '+ event.getTotalValue}}</p></div>
                </div>
                <button type="button" (click)="showCheckout()" [disabled]="event.customerOrder.length==0 ? 'true':''" class="btn btn-success btn-lg btn-block">Checkout</button>
       </mat-sidenav>
     </mat-sidenav-container >
<!-- Confirm Box -->
  <p-confirmDialog  position="top" header="Remove Item" [(visible)]="displayConfirm" closable="true"  [style]="{width: mobileQuery.matches ? '100%' : '20%'}" [baseZIndex]="10000">
  
   

  </p-confirmDialog>
     <!-- MODAL FOR ADD TO CART -->
      <p-dialog position="center" [modal]="true" (onHide)="event.myFunction()"   [(visible)]="event.displayBasic" header="Add to Cart"  [style]="{width: mobileQuery.matches ? '85%' : '30vw','text-align': 'left'}" [baseZIndex]="10000">
       <div class="my-image">
        <img  style="object-fit: cover;" [attr.src]="!event.view ? event.myInput.imgpath : event.viewImagePath" class=" shop-image" alt="Milktea Image" >

      </div> 
      <div style="border-bottom: 1px solid gray;" >
        <h2 style="display: inline-block; font-family: happy monkey;"> {{!event.view ? event.myInput.title : event.viewTitle}}</h2>
        <h6> {{event.myInput.description}}</h6>
        <h6 class="float-right" style="display: inline-block; margin-top: 15px; color: gray; font-family: happy monkey;"> 
   <!--       {{event.viewOrderMTPrice==0 ? '': 'PHP '+event.viewOrderMTPrice  }} --> 
                {{event.myInput?.size?.selected?.price}}
                <!-- {{mgSize.value}} -->
        </h6>
      </div>
        <!-- this -->
         <form [formGroup]="orderForm">
      <div class="sizeOption smBorder" style="text-align: left; margin-top: 10px; font-family: happy monkey;">
      <span >Size (Select One) </span>  <br>
      <!--  <span class="float-right p-tag p-tag-rounded p-tag-danger ">Required</span> -->
      
          <label *ngFor="let size of event.myInput.size?.opts" for="size.key" class="labelMargin">
            <input type="radio" formControlName="mgSize" [ngClass]="{'invld': submitted && f.mgSize.errors }" style="margin-right: 5px !important; margin-left: 5px !important; font-family: happy monkey;" class="radio-inline" [value]="size.key" [ngModel]="event.myInput.size.selected.key" (ngModelChange)="event.myFunc($event)"/> <span [ngClass]="{'invld': submitted && f.mgSize.errors }" >{{' '+size.abb}}</span>

          </label>  

      </div>
        </form> 
      <div class="IceOption smBorder">
           <span style="font-family: happy monkey;">Ice Level </span> <br>
         
           <label style="font-family: happy monkey;" *ngFor="let ice of event.iceLevel" for="ice.key" class="radio-inline ">

             <input type="radio" [value]="ice.key" name="ice.name" style="font-family: happy monkey; margin-right: 5px !important; margin-left: 5px !important;" [(ngModel)]="event.iceKey" />   
              <span> {{ice.name}}  </span> <br>
         </label>
      </div>
       <div class="smBorder">
           <span style="font-family: happy monkey;" >Honey Level </span>  <br>
         
           <label  style="font-family: happy monkey;" *ngFor="let honey of event.HoneyLevel" for="honey.key" class="radio-inline ">
             <input type="radio" [value]="honey.key" name="honey.name" style="font-family: happy monkey; margin-right: 5px !important; margin-left: 5px !important;" [(ngModel)]="event.honeyKey" />  
           {{honey.name }}
         </label>
      </div>

        <div class="smBorder">
           <span style="font-family: happy monkey;" >Extras </span> <span class="float-right p-tag p-tag-rounded p-tag-info" style="font-family: happy monkey;">Optional</span>
           <div *ngFor="let extras of event.addOns" class="p-field-checkbox">
           <input type="checkbox" [(ngModel)]="extras.selected"/><label [for]="extras.key" style="font-family: happy monkey;">{{extras.name}} </label> 
           <span class="float-right smFont" style="font-family: happy monkey;">{{'+ '+extras.price}}</span>
         </div>
       </div>
         <div class="smBorder col-12">
           <span style="font-family: happy monkey;">Special Instructions </span> 
                    <textarea class="form-control input-sm" pInputTextarea [cols]="60" pInputTextarea autoResize="autoResize" [(ngModel)]="event.specialInstruction"  placeholder="Any specific preferences? Let us know."></textarea>       
       </div>
    <p-footer>
<!--         <button type="button" pButton icon="pi pi-check" (click)="displayBasic=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayBasic=false" label="No" class="ui-button-secondary"></button> -->
          <div class="row">
              <div class="input-group col-6" >



                      <button [disabled]="event.quantityValue == 1" type="button"  value="-" class="button-minus btn btn-link" (click)="event.quantityControl('min',event.temp1)" data-field="quantity">
                        <i  class=" blackFont fa fa-minus"></i>
                      </button>
              
                      <input type="number" style="border: 0;
                      outline: none; background-color: white;" disabled="true" step="1" max="" [(ngModel)]="event.quantityValue" name="quantity" class="quantity-field">
                      <button type="button" value="+" class="button-plus btn btn-link" data-field="quantity" (click)="event.quantityControl('add',event.temp1)" ><i class=" blackFont fa fa-plus"></i></button>
                     

            </div>
            <div class="col-6">

                    <button type="submit" [style.display]="event.view ? 'none':''"   (click)="event.submitCart()"  (click)="event.displayBasic=false" pButton pRipple type="button" label="ADD TO CART" class="p-button-success"></button>

                      <button type="submit" [style.display]="event.view ? '':'none'" (click)="event.displayBasic=false" (click)="event.submitCart(event.viewOrderId)"  pButton pRipple type="button" label="Update Cart" class="p-button-success"></button>

            </div>
                
          </div> 
    </p-footer>
</p-dialog>

<!-- Checkout Modal -->
<p-dialog [draggable]="false" [modal]="true" [resizable]="false" header="Checkout" (onHide)="myF()" modal="true" position="center" [(visible)]="checkout" [style]="{width: mobileQuery.matches ? '100%' : '45vw'}" [baseZIndex]="10000">
  <div class="container-fluid">
  
       <div id="Modal Wrapper" [style.display]="event.addressWrapper? 'none':''"> 
       <div class="checkoutTable " style="overflow-x:auto;">
      
<!-- <table class="table table-striped" style="font-family: happy monkey; ">
  <thead>
  <tr>
       <th scope="col">Details</th>
    <th scope="col">Item</th>
    <th scope="col">Price</th>
    <th scope="col">Quantity</th>
    <th scope="col">Total</th>
   
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let order of event.customerOrder">
        <td><i class="pi pi-external-link btn btn-link" (click)="event.showBasicDialog()"  (click)="event.editOrder(order.itemOrderID)" ></i>  </td>
        <td >{{order.itemTitle}}</td>
        <td >{{order.itemComputed}}</td>
        <td style="width: 100%;"> 
          <div class="input-group"  >
                                <div class="col-2">
                                <button [style.display]="order.itemTotal == 1 ? 'none':'' " type="button"  value="-" class="button-minus btn btn-link" (click)="event.quantityControl('s-min',order.itemOrderID)" data-field="quantity">
                                    <i class=" blackFont fa fa-minus"></i>
                               </button>
                              <button [style.display]="order.itemTotal == 1 ? '':'none' "  type="button"  value="-" class="button-minus btn btn-link"  (click)="confirmDelete(order.itemOrderID)"  data-field="quantity">
                                <i  class=" blackFont fa fa-trash"></i>
                              </button>
                                </div>
                                  <div class="col-3 text-center" [style]="{left: mobileQuery.matches ? '-15px' : '-4px'}">
                              <input type="number" style="border: 0;
                              outline: none; background: transparent; border: none; " disabled="true" step="1" max="" [(ngModel)]="order.itemTotal" name="quantity" class="quantity-field text-center"> 
                            </div>
                            <div class="col-4">
                              <button type="button" value="+" class="button-plus btn btn-link" data-field="quantity" (click)="event.quantityControl('s-add',order.itemOrderID)" ><i class=" blackFont fa fa-plus"></i></button>
                            </div>
               </div>
        </td>
        <td >{{order.itemGrandTotal}}</td>
        
      </tr>
  </tbody>
</table> -->

<p-table [columns]="cols" [responsive]="true" [value]="tempArray" styleClass="p-datatable-responsive-demo">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th scope="col">Details</th>
            <th scope="col">Title</th>
            <th scope="col">Total Per Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td><span class="p-column-title">View Details</span>
                <i class="pi pi-external-link btn btn-link" (click)="event.showBasicDialog()"  (click)="event.editOrder(rowData.itemOrderID)" ></i>
            </td>
            <td>
              <span class="p-column-title">Flavor</span>
              {{rowData.itemTitle}}
            </td>
            <td>
              <span class="p-column-title">Price per Item</span>
              {{rowData.itemComputed}}
            </td>
            <td><span class="p-column-title">Quantity</span>
                <div class="row">
                 <div class="col-2">
                    <button [style.display]="rowData.itemTotal == 1 ? 'none':'' " type="button"  value="-" class="button-minus btn btn-link" (click)="event.quantityControl('s-min',rowData.itemOrderID)" data-field="quantity">
                        <i class=" blackFont fa fa-minus"></i>
                   </button>
                  <button [style.display]="rowData.itemTotal == 1 ? '':'none' "  type="button"  value="-" class="button-minus btn btn-link"  (click)="confirmDelete(rowData.itemOrderID)"  data-field="quantity">
                    <i  class=" blackFont fa fa-trash"></i>
                  </button>
                    </div>
                      <div class="col-3" style="padding-top: 7px;left: 21px;">
                <!--   <input type="number" style="
                  outline: none; background: transparent; border: none;" disabled="true" [(ngModel)]="rowData.itemTotal" name="quantity" class="quantity-field">  -->
                  <span style="bottom: 5px;">{{rowData.itemTotal}}</span>
                </div>
                <div class="col-4">
                  <button type="button" value="+" class="button-plus btn btn-link" data-field="quantity" (click)="event.quantityControl('s-add',rowData.itemOrderID)" ><i class=" blackFont fa fa-plus"></i></button>
                </div>

            </div>

            </td>
                    <td >
                      <span class="p-column-title">Total</span>{{rowData.itemGrandTotal}}</td>
        </tr>
    </ng-template>
</p-table>

       </div>
       <div class="row" style="margin-top: 20px;"> 

        <div class="col-12"  > TOTAL:  PHP {{event.getTotalValue}} &nbsp; <i *ngIf="event.voucherVerify" style="color: red; font-size: 12px;">{{event.discountTitle}}</i></div>
        <div class="col-12" > <i  style="font-size:10px; color: red;">Warning! Delivery Charge is not yet Included.</i></div>
          <div [style.display]="addVoucher? '':'none'">
            <div class="row" style="padding: 0px; margin: 0px;">
                 <div class="checkOutVoucher col-3">
                    <h4 class="checkOutTitle" id="vtext">Voucher</h4> 
                 </div> 
                 <div class="col-5">
                   <input type="text" [disabled]="event.voucherVerify" [ngbTooltip]="event.verifyMessage" [autoClose]="true" triggers="manual" placement="top" #t="ngbTooltip" tooltipClass="my-custom-class"  [(ngModel)]="event.vcode"   placeholder="Enter Code Here" class="form-control"  >
                 </div>
                  <div class="col-4">
                   <button type="button" class="btn btn-link" (click)="event.voucherFinder()" *ngIf="!event.voucherVerify" (click)="t.open()">Verify</button>
                   <button type="button" class="btn btn-link" style="color: red;" (click)=" myF()" *ngIf="!event.voucherVerify" (click)="t.open()">Close</button>
                   <button type="button" class="btn btn-link" (click)="event.voucherFinder('edit')" *ngIf="event.voucherVerify" (click)="t.open()">Edit</button>
                </div>
              </div>
        </div>
        <div class="col-12"  [style.display]="addVoucher? 'none':''">
          <p style="color:black;" (click)="openVoucher()" class="btn btn-link">add voucher code </p>
        </div>

            <div class="col-12 detailsTab" [style.display]="event.getAddress? '':'none'">
            <p class="detailsText text-center">Delivery to:</p>
            <p class="detailsText">Address:</p>
            <p class="detailsText"> CP Number</p>
            <div class="col-12"><i  (click)="event.editAddress()" class="btn-link btn btn-block editBTN">Edit</i></div>
            </div> 
            <i class="btn btn-link" [style.display]="event.getAddress? 'none':''"> Please Click to add Delivery Details</i>

             
      </div>
       <div class="col-12" style="margin-top: 15px;">
        <button  type="button" class="btn-block btn btn-success" (click)="event.confirmOder()"><b><h5 class="checkOutTitle">Confirm</h5></b></button>
       </div>
     
</div> <!-- end of Checkout- address begins -->

    
</div>
<div  [style.display]="event.addressWrapper? '':'none'">
  <div class="container">
    <div class="row">
               <form [formGroup]="contactForm" class="col-12 ">
                <div class="row">
                  <div class="col-6">
                        <label for="exampleInputEmail1">First Name:</label>
                        <input type="text" class="form-control"  placeholder="" value="Hello" disabled="true">
                  </div>
                  <div class="col-6">
                        <label  for="exampleInputEmail1">Last Name:</label>
                        <input type="text" class="form-control"  placeholder="" value="world" disabled="true">
                  </div> 
                   <div class="col-6">
                        <label  [ngClass]="{'invld': submitAdd && details.cnumber.errors }"   for="exampleInputEmail1">Contact Number: <i style="color:red">*</i> </label>
                        <input type="text" formControlName="cnumber" [(ngModel)]="cnumber" class="form-control" mask="99-9999"  placeholder="09XXXXXXX" value="" >
                  </div> 
                  <div class="col-6">
                        <label [ngClass]="{'invld': submitAdd && details.tnumber.errors }"  for="exampleInputEmail1">Telephone Number:</label>
                        <input type="text" formControlName="tnumber" [(ngModel)]="tnumber" class="form-control"  placeholder="02XXXXX" value="" >
                  </div> 
                   <div class="col-6">
                        <label [ngClass]="{'invld': submitAdd && details.street.errors }" for="exampleInputEmail1">Street Address: <i style="color:red">*</i> </label>
                        <input formControlName="street" type="text" [(ngModel)]="street" class="form-control"  placeholder="House #, Street, Brgy" value="" >
                  </div> 
                  <div class="col-6">
                        <label [ngClass]="{'invld': submitAdd && details.city.errors }" for="exampleInputEmail1">Municipality: <i style="color:red">*</i> </label>
                        <input formControlName="city" type="text" [(ngModel)]="city" class="form-control"  placeholder="City/Province" value="" >
                  </div> 
                  <div class="col-6" style="margin-top: 10px;"></div>
                    <div class="col-6 text-center" style="margin-top: 10px; ">
                      <button (click)="myF()" type="button" class="editNavigation btn btn-danger btn-sm ">Close</button>
                      <button (click)="submitAddress()" type="button" class="btn btn-success btn-sm ">Confirm</button>
                    </div>
                </div>


               </form>
    </div>
</div>
</div>
</p-dialog>
<!-- Checkout Modal END-->     
<app-modal #LoginModal class="d-none">

  <div body style="min-width: 300px !important;">             




    <h5 class="card-title text-center">Sign In</h5>
    <form class="form-signin">
      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Remember password</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
      <hr class="my-4">
      <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
      <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
    </form>

  </div>

</app-modal>



