<!--  <button mat-icon-button class="navigationIcon" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->

<!-- <i class="icon-thumbs-down glow" ></i> -->
<!-- mobile tool -->
<!-- <button type="button">test</button>
<p-dialog header="Godfather I" style="background-color: white;" [(visible)]="displayBasic" [style]="{width: '50vw','background-color':'white'}" [baseZIndex]="10000">
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayBasic=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayBasic=false" label="No" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
-->


<div class="navigationWrapper" [style.display]="mobileQuery.matches ? '' : 'none'">
  <button style="border-radius: 50%;"  mat-icon-button class="navigationIcon btn btn-link"  (click) = toggleDisplay()>
    <img style="height: 50px; width: 50px; border-radius: 50%;" src="/app/resources/img/Navigate.png">
    <!--  <i class="fa fa-cogs" aria-hidden="true" style="font-size: 50px;"></i> -->
  </button>
  <div [hidden] = "isShow" (click) = "toggleDisplay()">

    <button type="button" style=" border-bottom: 1px; padding: 0px !important;" class=" searchIcon btn btn-link " (click)="toggleSearch()" >
      <img src="/app/resources/img/search.png" style="border-radius: 50%; height: 35px;">
      <!--    <i class="fa fa-search " style="font-size: 30px; color: black; background-color: rgba(255,255,255,0.5); border-bottom: 2px solid black; padding-bottom: 5px;"  aria-hidden="true"></i> -->
    </button> <span class="searchText">Search</span>

    <button type="button" style="border-radius: 50%; padding: 0px !important;" class="categoryIcon btn btn-link " (click)="snav.toggle()">
      <img src="/app/resources/img/Category.png"  style="border-radius: 50%; height: 40px;">
    </button> <span class="categoryIconText " (click)="snav.toggle()" >Categories</span>

    <button type="button" style="border-radius: 50%; padding: 0px !important;" class="cartNavIcon btn btn-link " (click)="myCart.toggle()" >
      <img src="/app/resources/img/cartIcon.png"  style="border-radius: 50%; height: 35px;">
    </button> <span class="cartNavIconText " (click)="myCart.toggle()" >Cart</span>

<!--     <button type="button" style="border-radius: 50%; padding: 0px !important;" class="wishList btn-link ">
      <i class="fa fa-heart" aria-hidden="true"></i>
    </button> <span class="wishListIconText ">Wish List</span> -->
  </div>
  <button  [hidden] = "searchShow"  class=" btn btn-link searchClose" (click)="toggleSearch()" ><i class="searchCloseIcon fa fa-times"></i></button>
  <!--     <input [hidden] = "searchShow" class="searchInput" type="text" > -->

  <form class="example-form">
    <input type="text"
    placeholder="Find your Favorites!"
    [formControl]="event.control"
    [matAutocomplete]="auto"
    class="searchInput"
    [hidden] = "searchShow">
    <mat-autocomplete #auto="matAutocomplete">

      <mat-option style="clear:both;" *ngFor="let milktea of event.filteredProduct | async" [value]="milktea.title">
        {{milktea.title}}
      </mat-option>


    </mat-autocomplete>
  </form>

</div>


<!-- end -->
<mat-sidenav-container  class="container-fluid" style="background-color:#f3f3f3" autosize class="example-sidenav-container">
<!-- <mat-sidenav-container  class="container-fluid" style="background-color:#f3f3f3" autosize class="example-sidenav-container"
 [style.marginTop.px]="mobileQuery.matches ? 56 : 0">  WIDTH MOBILE MARGIN-->

 <mat-sidenav  #snav [opened]="mobileQuery.matches ? 'false' : 'true'"  mode="side" class="example-sidenav col-xl-2 col-lg-2 col-md-12 col-xs-12 matnav" mode="side"
 [fixedInViewport]="true"
 [fixedTopGap]="64"
 [fixedBottomGap]="0" [mode]="mobileQuery.matches ? 'over' : 'side'"
 [fixedInViewport]="mobileQuery.matches"
 [autoFocus]="true">
 <div class="col-12  matnav">
  <div class="hero__categories">
    <div class="categoryBorder">

      <span class="categoryText">Categories

        <button  type="button" [style.display]="mobileQuery.matches ? '' : 'none'" class="btn btn-link float-right" style="outline: 0px;"  (click)="snav.toggle()" >
          <i class="fas fa-times" [style.display]="mobileQuery.matches ? '' : 'none'" style="color:white;"></i>
        </button>

      </span>

    </div >
    <ul class="matnav" style="clear: both;">
      <!-- kinomment ni reid -->
      <!-- cause: Property 'clearSearch' does not exist on type 'UtilService' -->
      <!-- <li [ngClass]="{'active': category==='All Category'}" class="categoryTabs" (click)="category='All Category'" (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()"  (click)="event.clearSearch()" data-filter="*">All</li> -->

      <!-- temp -->
      <li [ngClass]="{'active': category==='All Category'}" class="categoryTabs" (click)="category='All Category'" (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()"  (click)="event.clearSearch()" data-filter="*">All</li>
      <!-- temp end -->

      <li [ngClass]="{'active': category==='Milktea'}"  class="categoryTabs"(click)="category='Milktea'" (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()"  data-filter=".FT">Milktea</li>
      <li [ngClass]="{'active': category==='Yogurt'}" class="categoryTabs" (click)="category='Yogurt'" (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()" data-filter=".BS">Yogurt</li>
      <li [ngClass]="{'active': category==='Cheese Cream'}"  class="categoryTabs" (click)="category='Cheese Cream'" (click)="mobileQuery.matches ? snav.toggle() : false"  (click)="FilterData()" data-filter=".MY">Cheese Cream</li>
      <li [ngClass]="{'active': category==='Milk Online'}" class="categoryTabs" (click)="category='Milk Online'"  (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()"   data-filter=".MG">Milk Online</li>
      <li [ngClass]="{'active': category==='Smoothies & Cream'}"  class="categoryTabs" (click)="category='Smoothies & Cream'"  (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()" data-filter=".MY">Smoothies & Cream</li>
      <li [ngClass]="{'active': category==='Juice'}" class="categoryTabs" (click)="category='Juice'"  (click)="mobileQuery.matches ? snav.toggle() : false" (click)="FilterData()"   data-filter=".MG">Juice</li>

      <li [ngClass]="{'active': category==='Sand Ice'}" class="categoryTabs" (click)="category='Sand Ice'" (click)="mobileQuery.matches ? snav.toggle() : false"  (click)="FilterData()"   data-filter=".MG">Sand Ice</li>
    </ul>
  </div>

  <div class="" [style.display]="mobileQuery.matches ? 'none' : ''" style="height: 30px; width: 300px; font-size: 20px; font-weight: bold; background-color: rgba(255, 0, 0,0.8); text-align: center; margin-top: 5px; margin-bottom: 5px; font-family: kozuka gothic pro;">
    <marquee><span style="color: white;  "> <i class="fa fa-star"></i> Can't Decide? Try our Best Seller!<i class="fa fa-star"></i></span></marquee>
  </div>
  <ngx-slick-carousel class="carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" [style.display]="mobileQuery.matches ? 'none' : ''">
  <div ngxSlickItem *ngFor="let milktea of obj.productSample" [ngClass]="'col-3 mix '+milktea.category_code">
    <div class="featured__item">

      <div class="product__discount__item">

        <div class="BestSellerNavWrapper set-bg">
          <div class="BestSellerNav set-bg"   [ngStyle]="{'background-image': 'url('+ milktea.imgpath +')'}">


          </div>
          <div class="BestSellerNavDesc">
            <h6 class="listText"><a href="#" style="color: white;">{{milktea.title}}</a></h6>
            <h5 style="color: white;">{{milktea.description}}</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</ngx-slick-carousel>
</div>
</mat-sidenav>
<mat-sidenav-content  >
  <app-announcement [mobileView]="mobileQuery.matches" ></app-announcement> 
  <section class="featured spad">


   <div class="section-title" style="margin-bottom: 20px;">
    <h2>{{category}}</h2>
  </div>
  <div class="col-xl-12" >

                  <!--   <div class="featured__controls">
                        <ul>
                            <li [ngClass]="{'active': category==='all'}" (click)="category='all'" (click)="FilterData()"  data-filter="*">All</li>
                            <li [ngClass]="{'active': category==='new'}" (click)="category='new'" (click)="FilterData()"  data-filter=".FT">New</li>
                            <li [ngClass]="{'active': category==='BestSeller'}" (click)="category='BestSeller'" (click)="FilterData()" data-filter=".BS">Best Seller</li>
                            <li [ngClass]="{'active': category==='Yogurt'}" (click)="category='Yogurt'" (click)="FilterData()" data-filter=".MY">MyGirl Yogurt</li>
                            <li [ngClass]="{'active': category==='MyGirl'}" (click)="category='MyGirl'" (click)="FilterData()"   data-filter=".MG">MyGirl</li>
                        </ul>
                      </div> -->

                      <div class="row featured__filter">
                        <div *ngFor="let milktea of obj.productSample" [ngClass]="'col-xl-3 col-md-3 col-lg-3 col-sm-12 col-xs-12 mix '+milktea.category_code">
                          <div class="featured__item">
                            <div class="featured__item__pic set-bg "   [ngStyle]="{'background-image': 'url('+ milktea.imgpath +')'}">
                              <div class="product__discount__percent">{{'₱ ' +milktea.price}}</div>
                              <ul class="featured__item__pic__hover">
                                <!--   <li><a href="#"><i class="fa fa-heart"></i></a></li> -->
                                <li><a (click)="LoginModal.openMdl()"><i class="fa fa-retweet"></i></a></li>
                                <li><a (click)="SLModal.openMdl()" (click)="event.selectItem(milktea.id)"  ><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                            </div>
                            <div class="featured__item__text">
                              <h6 class="listText"><a href="#">{{milktea.title}}</a></h6>
                              <h5>{{milktea.description}}</h5>
                            </div>
                          </div>
                        </div>


                      </div>  

                    </div>



                  </section>


                </mat-sidenav-content> 


                <mat-sidenav [opened]="mobileQuery.matches ? 'false' : 'true'" mode="side" #myCart class="example-sidenav col-xl-2 col-lg-2 col-md-12 col-xs-12" id="checkoutPreText" position="end" 
                [fixedInViewport]="true"
                [fixedTopGap]="50">

                <div class="container-fluid"> 
                  <div class="row">
                    <div class="col-12"> <span class="default" ><p> No Items in your Cart Yet </p> </span>  </div>

                    <div class="col-7"> <p> Milktea Title </p>  </div>
                    <div class="col-5"> <p> Price </p>  </div>


                    <div class="col-5"> <p> Add Ons </p>  </div>
                    <div class="col-7"> 
                     <div class="input-group" >
                      <button [style.display]="event.value.quantity != 1 ? '':'none' " type="button"  value="-" class="button-minus btn btn-link" (click)="event.quantityCalc('min')" data-field="quantity">
                        <i  class=" blackFont fa fa-minus"></i>
                      </button>
                      <button [style.display]="event.value.quantity == 1 ? '':'none' " type="button"  value="-" class="button-minus btn btn-link" (click)="event.quantityCalc('min')" data-field="quantity">
                        <i class=" blackFont fa fa-trash"></i>
                      </button>

                      <input type="number" style="border: 0;
                      outline: none; background-color: white;" disabled="true" step="1" max="" [ngModel]="event.value?.quantity" (ngModelChange)="event.value.quantity=$event" (change)="event.quantityCalc('man')" name="quantity" class="quantity-field">


                      <button type="button" value="+" class="button-plus btn btn-link" data-field="quantity" (click)="event.quantityCalc('add')" ><i class=" blackFont fa fa-plus"></i></button>
                    </div>
                  </div>
                </div>
              </div>


          <!--  <div class="input-group" >
                    <input [disabled]="event.value.quantity == 0" type="button"  value="-" class="button-minus" (click)="event.quantityCalc('min')" data-field="quantity">
                    <input type="number" step="1" max="" [ngModel]="event.value?.quantity" (ngModelChange)="event.value.quantity=$event" (change)="event.quantityCalc('man')" name="quantity" class="quantity-field"><input type="button" value="+" class="button-plus" data-field="quantity" (click)="event.quantityCalc('add')" >
           </div>
         -->








         <!--  <span id="checkOutPrice"><p><b> Total</b></p> </span> -->
         <button type="button" class="btn btn-success btn-lg btn-block">Checkout</button>
       </mat-sidenav>

     </mat-sidenav-container >


     
     <app-modal #SLModal class="d-none" >

      <div body style="min-width: 100px !important;">       
       <div class="my-image">
        <img  style="object-fit: cover;" [attr.src]="event.myInput.imgpath" class=" shop-image" alt="Milktea Image" >
      </div>      
      <table class="table table-image">

        <thead>

        </thead>
        <tbody>

         <tr>
           <td>
            Select Variant
          </td>

          <td >

           <p>{{event.sizeKey}}</p>

           <label *ngFor="let size of event.cupSize" for="ice.key" class="labelMargin">       
            <input  type="radio"   class="radio-inline" [value]="size.name" [(ngModel)]="event.sizeKey" /> <span>{{' '+size.name}}</span>
          </label>   

        </td>
      </tr>
      <tr>
        <td>
          Extras:
        </td>
        <td>
          <div *ngFor="let extras of event.addOns" class="p-field-checkbox">



           <input type="checkbox" [(ngModel)]="extras.selected"/><label [for]="extras.key">{{extras.name}} {{extras.price}}</label>
         </div>
       </td>
       <td>
        Ice level:
      </td>
      <td>

        <div *ngFor="let ice of event.iceLevel" >
         <label for="ice.key" class="radio-inline">
           <input type="radio"[value]="ice.name" [(ngModel)]="event.iceKey">   
         {{ice.name}} </label>

       </div> 
     </td>

   </tr>
   <tr>
    <td>
      Quantity:
    </td>
    <td class="qty">
      <div class="input-group">
        <input [disabled]="event.value.quantity == 0" type="button"  value="-" class="button-minus" (click)="event.quantityCalc('min')" data-field="quantity">
        <input type="number" step="1" max="" [ngModel]="event.value?.quantity" (ngModelChange)="event.value.quantity=$event" (change)="event.quantityCalc('man')" name="quantity" class="quantity-field">
        <input type="button" value="+" class="button-plus" data-field="quantity" (click)="event.quantityCalc('add')">
      </div>
    </td>

  </tr>
  <tr>
    <td>
      Special Instruction:
    </td>
    <td>
      <form [formGroup]="orderForm" (ngSubmit)="onFormSubmit()">
        <textarea pInputTextarea [cols]="100" pInputTextarea autoResize="autoResize" formControlName="specialIns" [ngClass]="{'invld': submitted && f.specialIns.errors }"></textarea>
        <button type="submit">Test</button>
      </form>
    </td>
  </tr>
</tbody>
</table> 
<div class="d-flex justify-content-end">

</div>
</div>
<div footer class="w-100 text-center">
 <div class="modal-footer border-top-0 d-flex justify-content-between">
  <button type="button" class="btn btn-secondary" (click)="SLModal.closeMdl()" >Close</button>
  <button (click)="SLModal.closeMdl()" type="button" class="btn btn-success"  (click)="sampleFunction()">Add to Cart</button>
</div>
</div>
</app-modal> 

<app-modal #SLModal2 class="d-none" >
  <div header>
    <!-- kinomment ni reid -->
    <!-- cause: Property 'TotalPrice' does not exist on type 'ShopComponent'. -->
    <!-- <h5 class="modal-title" id="exampleModalLabel">Your Shopping Carts {{TotalPrice}}</h5>  -->

    <!-- temp -->
    <h5 class="modal-title" id="exampleModalLabel">Your Shopping Carts </h5>
    <!-- temp end -->
  </div>
  <div body style="min-width: 100px !important;">             
    <table class="table table-image">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Qty</th>
          <th scope="col">Total</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="w-25">
            <img  [attr.src]="event.myInput.imgpath" class="img-fluid img-thumbnail" alt="Milktea Image">
          </td>
          <td *ngIf="event.myInput">{{event.myInput.title}} </td>
          <td *ngIf="event.myInput">{{event.myInput.price}} </td>
          <td class="qty">
            <div class="input-group">
              <input [disabled]="event.value.quantity == 0" type="button"  value="-" class="button-minus" (click)="event.quantityCalc('min')" data-field="quantity">
              <input type="number" step="1" max="" [ngModel]="event.value?.quantity" (ngModelChange)="event.value.quantity=$event" (change)="event.quantityCalc('man')" name="quantity" class="quantity-field">
              <input type="button" value="+" class="button-plus" data-field="quantity" (click)="event.quantityCalc('add')">
            </div>
          </td>
          <td *ngIf="event.value.price">{{event.value.price}}</td> 

        </tr>
      </tbody>
    </table> 
    <div class="d-flex justify-content-end">
      <!-- kinomment ni reid -->
      <!-- cause: Property 'TotalPrice' does not exist on type 'UtilService'. Did you mean 'totalPrice'? -->
      <!-- <h5 *ngIf="event.TotalPrice">Total: <span class="price text-success" >{{event.TotalPrice}}</span></h5> -->

      <!-- temp -->
      <h5 *ngIf="event.totalPrice">Total: <span class="price text-success" >{{event.totalPrice}}</span></h5>
      <!-- temp end -->
    </div>
  </div>
  <div footer class="w-100 text-center">
   <div class="modal-footer border-top-0 d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="SLModal.closeMdl()" >Close</button>
    <button [disabled]="event.value.quantity == 0" (click)="SLModal.closeMdl()" type="button" class="btn btn-success"  (click)="event.quantityCalc('submitOrder')">Add to Cart</button>
  </div>
</div>
</app-modal> 


<app-modal #LoginModal class="d-none">

  <div body style="min-width: 300px !important;">             




    <h5 class="card-title text-center">Sign In</h5>
    <form class="form-signin">
      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Remember password</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
      <hr class="my-4">
      <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
      <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
    </form>

  </div>

</app-modal>



